<h1 class="ms-4 my-5">Ask your coach anything</h1>
<form action="/answer" data-turbo="false">
  <div class="input-group mb-3">
    <input type="text" name="question" class="form-control" placeholder="User question" aria-label="Recipient's username" aria-describedby="button-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Ask!</button>
    </div>
  </div>
</form>
